
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stock Ticker</title>
    </head>
    <body>
    <H1>Stock Lookup</H1>

    <h4>Please enter a stock ticker eg. GOOG, AAPL, IBM.</h4>
    <form id='input' method='post' action='graph'>
    <p>
        Ticker: <input type='text' name='ticker' />
    </p>
    <p>
        <select name="lookup">
            {% for stock in stock_names %}
                {% if stock == current_stock_name %}
                    <option selected value="{{ stock }}">{{ stock }}</option>
                {% else %}
                    <option value="{{ stock }}">{{ stock }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit">
        </form>
    </p>

</body>
</html>
